* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Geologica", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.container_20 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (max-width: 1250px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 1020px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1441px) {
  .container,
  .container_20 {
    max-width: 1920px;
  }
}
main {
  padding-top: 120px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--Fill-Primary-BG, #f8fafc);
}

img {
  width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color_light_blue);
}

::-webkit-scrollbar-thumb {
  background: var(--color_dark_blue);
  border-radius: 6px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color_black);
}

.title {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0%;
  color: var(--color_dark_blue);
  text-align: center;
}

.title_main {
  color: var(--Type-Primary, #111827);
  text-align: center;
  font-family: var(--Typography-Family-Primary, Manrope);
  font-size: var(--Typography-Size-48, 48px);
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
  margin-bottom: 48px;
}

@media (max-width: 1020px) {
  main {
    padding-top: 73px;
  }
  .btn {
    padding: 8px 14px;
    font-size: 14px;
  }
  .btn.btn_light:active {
    border: none;
    color: var(--color_white);
    background-color: var(--color_dark_blue);
  }
  .btn.btn_dark:active {
    border: none;
    color: var(--color_white);
    background-color: var(--color_blue);
  }
  .input {
    width: 251px;
  }
  .input input {
    padding: 11px 24px;
    font-size: 14px;
    line-height: 18px;
  }
  .title {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 800px) {
  .title_main {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
@media (hover: hover) and (pointer: fine) {
  html .btn:hover {
    color: #E38F00;
    -webkit-box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  }
  html .card_benefit:hover {
    -webkit-box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  }
  html .campaign_card:hover {
    border-color: #e38f00;
    background: #e38f00;
    -webkit-box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  }
  html .btn2:hover {
    background: #e38f00;
    -webkit-box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  }
  html .footer_icon:hover svg path {
    fill: #e38f00;
  }
  html .btn.btn_light:hover {
    background-color: var(--color_dark_blue);
  }
  html .btn.btn_dark:hover {
    background-color: var(--color_blue);
  }
  html .btn:active {
    border: 1px solid var(--color_dark_blue);
    background-color: transparent !important;
    color: var(--color_dark_blue);
  }
  html .header-link:hover,
  html .footer-link:hover,
  html .footer-social:hover {
    color: var(--Fill-Orange, #f59e0b);
  }
  html .btn1:hover {
    background: #e38f00 !important;
    /* Hover shadow */
    -webkit-box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11) !important;
            box-shadow: 0 44px 12px 0 rgba(0, 0, 0, 0), 0 28px 11px 0 rgba(0, 0, 0, 0.02), 0 16px 9px 0 rgba(0, 0, 0, 0.06), 0 7px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11) !important;
  }
}