@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; 
  font-style: normal;
  font-display: swap;
}
