@charset "UTF-8";
@import url(../css/base.css);
@import url(../css/fonts.css);
:root {
	--trans: all 0.3s ease-out;
	--color_black: #101010;
	--color_white: #ffffff;
	--color_light_blue: #dde9f2;
	--color_blue: #7baad0;
	--color_dark_blue: #222a3f;
}

.header-home .header-container {
	background: var(--color_light_blue);
}

.header-container {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--color_white);
	border: 1px solid #dde9f2;
	padding: 38px 130px;
	z-index: 99;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header-container .header-logo img {
	height: 44px;
}
.header-container .header-menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 28px;
}
.header-container .header-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--color_dark_blue);
	-webkit-transition: var(--trans);
	transition: var(--trans);
}
.header-container .burger {
	display: none;
	padding: 9px;
	border: none;
	background-color: var(--color_dark_blue);
	border-radius: 5px;
	cursor: pointer;
}
.header-container .burger img {
	width: 16px;
}

.header-mobile-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	background: var(--color_white);
	padding: 20px 24px;
	z-index: 999;
	-webkit-transition: var(--trans);
	transition: var(--trans);
}
.header-mobile-container .header-close {
	padding: 7px;
	border: 1px solid #222a3f;
	border-radius: 5px;
	background: transparent;
	cursor: pointer;
}
.header-mobile-container .header-close img {
	width: 15px;
}
.header-mobile-container .header-mobile-menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-mobile-container .header-link {
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--color_dark_blue);
	-webkit-transition: var(--trans);
	transition: var(--trans);
	text-align: center;
}
.header-mobile-container.active {
	left: 0;
}

footer {
	background-color: var(--color_dark_blue);
}

.footer-container {
	padding: 100px 159px 100px 130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.footer-container .footer-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer-container .footer-left .footer-logo img {
	height: 72px;
}
.footer-container .footer-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 545px;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer-container .footer-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--color_white);
}
.footer-container .footer-text.mobile {
	display: none;
	font-size: 12px;
}
.footer-container .footer-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	margin-right: 18px;
}
.footer-container .footer-link,
.footer-container .footer-social {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0%;
	color: var(--color_white);
	-webkit-transition: var(--trans);
	transition: var(--trans);
}
.footer-container .footer-socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}
.footer-container .footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 16px;
}
.footer-container .footer-social img {
	height: 20px;
	width: auto;
}
.footer-container .up-btn {
	padding: 10px 11px;
	background-color: var(--color_blue);
	border-radius: 50px;
	height: 40px;
	justify-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	border: 1px solid var(--color_blue);
}
.footer-container .up-btn:active {
	background: transparent;
}
.footer-container .up-btn:active svg path {
	fill: var(--color_blue);
}

